<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Dynamic Day Planner</title>
</head>
<body>
    <!-- Background Video -->
    <div class="video-container">
        <video autoplay muted loop id="background-video">
            <source src="{{ url_for('static', filename='video_files/WhatsApp Video 2024-09-28 at 6.40.55 PM.mp4') }}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <header>
        <div class="navbar">
            <div class="logo">INTEL ISLAND</div>
            <nav>
                <ul>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#" class="contact-button">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="main-section">
        <div class="content">
            <div class="text-content">
                <h1>Dynamic</h1>
                <h1>Day Planner</h1>
                <p>Empowering your day with NLP-driven task management. Get personalized suggestions with progress insights through Gen AI.</p>
            </div>
            <div class="button-container">
                <button onclick="window.location.href='{{ url_for('login') }}'">Get Started</button>

            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/open.js') }}"></script>
</body>
</html>
   